@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
h1 {
  font-weight: 700;
  font-size: clamp(1.5em, 8vw, 4.5em);
  line-height: clamp(1rem, 8vw, 5rem);
}

h2 {
  font-weight: 700;
  font-size: clamp(1em, 8vw, 4em);
  line-height: clamp(1rem, 8vw, 4.5rem);
}

h3 {
  font-weight: 700;
  font-size: clamp(1em, 8vw, 3.5rem);
  line-height: clamp(0.5rem, 8vw, 4rem);
}

h4 {
  font-weight: 500;
}

h5, h6 {
  font-weight: 700;
  font-size: clamp(0.5rem, 8vw, 1.1em);
}

a {
  font-weight: 500;
}

p {
  font-weight: 400;
  font-size: clamp(0.5em, 8vw, 1rem);
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
html body {
  background-color: hsl(0, 0%, 96%);
  color: hsl(267, 10%, 17%);
  font-family: "Poppins", sans-serif;
}
html body .container {
  padding: 2rem 6rem;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
@media (max-width: 756px) {
  html body .container {
    padding: 2rem;
  }
}
html body a {
  text-decoration: none;
  color: hsl(267, 10%, 17%);
}
html body li {
  list-style: none;
}
html body .highlight {
  color: hsl(36, 100%, 65%);
}

.primary-button {
  cursor: pointer;
  background-color: hsl(267, 10%, 17%);
  padding: 16px 32px 16px 32px;
  color: white;
  border: none;
  border-radius: 100px;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.primary-button:hover {
  background-color: hsl(36, 100%, 65%);
  color: hsl(267, 10%, 17%);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .navbar-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.navbar #navbar-menu {
  display: flex;
}
.navbar .navbar-menu {
  display: flex;
  flex-direction: row;
  padding: 2.5rem;
}
.navbar .navbar-link {
  margin: 0 10px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .navbar .navbar-link {
    margin: 0 8px;
  }
}

@media (max-width: 756px) {
  .navbar .navbar-toggle {
    display: block;
  }
  .navbar #navbar-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .navbar #navbar-menu .navbar-menu {
    display: none;
  }
  .navbar-actions {
    display: none;
  }
}
.footer {
  display: flex;
  flex-direction: column-reverse;
}
.footer .footer__items > * {
  padding: 0.5rem;
}
.footer .footer__logo {
  display: grid;
  justify-content: center;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    width: 100%;
  }
  .footer .footer__logo {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
  }
  .footer .footer__list {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11.25rem, 25%));
  }
}

.hero-section {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 1024px) {
  .hero-section h1 {
    width: 70%;
  }
}
.hero-section img {
  margin-left: auto;
}

.image-holder {
  background: conic-gradient(hsl(0, 0%, 96%) 0deg 90deg, hsl(267, 10%, 17%) 90deg 270deg, hsl(0, 0%, 96%) 270deg 360deg);
}
.image-holder .image-container {
  width: 100%;
}

.about {
  background-color: hsl(267, 10%, 17%);
  color: white;
}
@media (max-width: 768px) {
  .about h2 {
    font-weight: 500;
  }
}
.about h2 span::after {
  content: "\a";
  white-space: pre;
}
.about .img-card {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 4rem 0;
}
.about .img-card img {
  width: calc(33.333% - 1rem);
  height: auto;
  object-fit: cover;
}
@media (max-width: 768px) {
  .about .img-card img {
    width: 100%;
  }
}
.about .about__numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}
@media (max-width: 768px) {
  .about .about__numbers {
    flex-direction: column;
    text-align: center;
  }
}
.about .about__numbers .flex-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: clamp(1rem, 8vw, 3rem);
}
@media (max-width: 768px) {
  .about .about__numbers .flex-div {
    flex-direction: column;
  }
}
.about .about__numbers .item > div {
  font-size: 3rem;
  font-weight: 700;
}
.about .about__numbers .marketplace-button {
  border: none;
  background-color: hsl(267, 10%, 17%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
}
.about .about__numbers .marketplace-button a {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  margin: 3rem 0;
  gap: 2rem;
}
.features .features__details {
  gap: 1rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  flex-wrap: nowrap;
}
@media (max-width: 756px) {
  .features .features__details {
    width: 100%;
  }
}
.features .grid {
  width: 55%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(286px, 1fr));
  gap: 1.5rem;
}
@media (max-width: 768px) {
  .features .grid {
    width: 100%;
    text-align: center;
  }
}

.banner {
  background-color: hsl(267, 10%, 17%);
  border-radius: 2rem;
  padding: 4.5rem;
  gap: 2rem;
  color: white;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.banner .primary-button {
  background-color: hsl(36, 100%, 65%);
  color: hsl(267, 10%, 17%);
}