
@use 'abstracts' as *;
.footer{
    display: flex;
    flex-direction: column-reverse;
    .footer__items > *{
               
        padding: 0.5rem;
    }
    .footer__logo{
        display: grid;
        justify-content: center;
       
    }
   
    @media(min-width: 768px){
        @include d-flex($main-axis:space-between,$wrap:wrap,$cross-axis:start);
        width: 100%;
        .footer__logo{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: space-between;

        }
        .footer__list{
            width: 70%;
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(11.25rem, 25%));
        
        }  
    }
 
}