@use 'abstracts' as *;
*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;

    body{
        background-color: $primary;
        color: $secondary;
        font-family: "Poppins", sans-serif;;
    
        .container{
            padding: $base-padding;
            width: 100%;
            max-width: 1300px;
            margin: 0 auto;
            @media(max-width:768px){
                padding: 2rem;
            }
        }
        a{
            text-decoration: none;
            color:$secondary;
        }
    
        li{
            list-style: none;
        }
    
        .highlight{
            color: $tertiary;
        }
    
    }
}



