@use 'abstracts' as *;


.about-section {
    background-color: $secondary;
    .container {
      .image__placeholder {
        width: 100%;
        display: flex;
        justify-content: center;
  
        img {
          width: 100%;
          height: auto;
          max-width: 100%;
        }
      }
    }
  }