@use 'abstracts' as *;

.about{
    background-color: $secondary;
    color: white;
    
    h2 {
        @media(max-width:768px){
            font-weight: 500;
        }
            span::after{
                content: "\a";
                white-space: pre;
            }
        }
        .img-card{
            @include d-flex($wrap:wrap,$main-axis:start);
            gap:1.5rem;
            padding: 4rem 0;
            img{
                width: calc(33.333% - 1rem);
                height: auto;
                object-fit: cover;
                @media (max-width:768px){
                    width: 100%;
                }
              
            }
    
        }

        .about__numbers{
            @include d-flex($wrap:wrap,$main-axis:space-between);
            gap: 4rem;
            @media (max-width:768px) {
                flex-direction: column;
                text-align: center;
            }
            .flex-div{
                @include d-flex($main-axis:space-between);
                gap: clamp(1rem,8vw,3rem);
                @media (max-width:768px) {
                    flex-direction: column;
                }

              
            }
            .item>div{
                font-size: 3rem;
                font-weight: $bold;
            }
            .marketplace-button{
                border: none;
                background-color:$secondary ;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 210px;
                a{
                    color: white;
                   text-align: center;
                   font-size: 1.5rem;
                   cursor: pointer;
                   
                     

               
                }

            }
            
        }
        
      }


