@use 'abstracts' as *;

.banner{
    background-color: $secondary;
    border-radius: 2rem;
    padding: 4.5rem;
    gap: 2rem;
    color: white;
    text-align: center;
    width: 100%;
    @include d-flex(column, $main-axis:space-between );
    .primary-button{
        background-color: $tertiary;
        color: $secondary;
    }
}