@use "abstracts" as *;


.hero-section {
  @include d-flex(column,start, start);
  // height: 100vh;
  margin-top:40px;
   .hero__contents{
    @include d-flex($main-axis:space-between,$wrap:wrap);
    margin-left: auto;
    @include small-screen-responsive(768px){
      margin-bottom: 4rem;
    }
    
    h1 {
      @media (min-width: 768px) {
        width: 80%;
      }
    }
    img {
      width: 20%;
      height: auto;
      margin-left: auto;
  
    }

  }

  // .image__placeholder{
  //   img{

  //     width: 100%;
  //     height: auto;
  //   }
    
  // }


  
}