@use "abstracts" as *;

.hero-section{
   @include d-flex($main-axis:start,$wrap:wrap);  
   h1 {
          @media (min-width: 1024px) {
            width: 70%;
          }
        }
    img{
        margin-left: auto;
    } 
   
}

.image-holder{
  background: conic-gradient($primary 0deg 90deg, $secondary 90deg 270deg, $primary 270deg 360deg);
  .image-container{
    width: 100%;
  }


}


